DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=password
DOCKER_INFLUXDB_INIT_ORG=MINTS
DOCKER_INFLUXDB_INIT_BUCKET=SharedAirDFW
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=verysafeadmintoken
DOCKER_INFLUXDB_DATA_BM=./influxdb-data
DOCKER_INFLUXDB_CONFIG_BM=./influxdb-config
DOCKER_INFLUXDB_HOSTNAME=127.0.0.1
DOCKER_INFLUXDB_URL=http://influxdb:8086

MQTT_CENTRAL_NODES_USERNAME=copy.from.mqttSubscribers.credentials.yml
MQTT_CENTRAL_NODES_PASSWORD=copy.from.mqttSubscribers.credentials.yml

MQTT_LORA_NODES_USERNAME=copy.from.mqttSubscribers.loRacredentials.yml
MQTT_LORA_NODES_PASSWORD=copy.from.mqttSubscribers.loRacredentials.yml

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=password
GF_INSTALL_PLUGINS=fatcloud-windrose-panel,yesoreyeram-boomtheme-panel,innius-video-panel,dalvany-image-panel,snuids-radar-panel,nline-plotlyjs-panel,volkovlabs-echarts-panel

GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/var/lib/grafana/dashboards/homepage.json
